@import './base.css';

body {
	font-family: "Poppins", sans-serif;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
}

body.modal-open {
	overflow: hidden;
}

#app {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.footer {
	padding: 50px 0;
	text-align: center;
}

.sonner {
	position: fixed;
	z-index: 50;
	padding: 20px 40px;
	top: 50px;
	right: 50px;
	background: var(--text-color);
	color: var(--main-color);
	border-radius: 10px;
	transition: .5s linear;
	transform: translateY(-300%);
}

.sonner.active {
	transform: translateY(0%);
}

@media (max-width: 650px) {
	body {
		font-size: 18px;
	}
}